<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>PaperFly</title>
    <link rel="stylesheet" th:href="@{/static/user/css/modifyUserPasworrd.css}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
</head>
<body>
<a name="top"></a>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="/views/success" id="main">PaperFly</a></div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/selectOurWebData">网站数据</a></li>
            <li class="layui-nav-item"><a href="/logout">退了</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">

        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree site-demo-nav">
                <li class="layui-nav-item layui-nav-itemed">

                </li>
            </ul>

        </div>
    </div>
</div>
<div class="layui-body">
    <div id="modifyUserPasworrd">
        <div class="alert alert-warning" role="alert" id="alertMsg"  ></div>
        <label  class="col-sm-2 control-label">修改用户密码</label>
        <form class="form-inline" action="#">
            <div class="form-group">
                <input type="text" class="form-control" id="no" placeholder="手机号" >
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="新密码(6位以上字母数字)"  >
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="re-password" placeholder="确认密码"  >
            </div>
            <button type="button" class="btn btn-danger" id="modifyPwdBtn">修改</button>
        </form>
        <br>
        <label  class="col-sm-2 control-label">修改班级文件起始保存位置</label>
        <form class="form-inline" action="#">
            <div class="form-group">
                <input type="text" class="form-control" id="modifyFileStartPath" placeholder="文件起始地址" >
            </div>
            <button type="button" class="btn btn-danger" id="modifyfileStartPathBtn">更改</button>
        </form>
        <br>
        <label  class="col-sm-2 control-label">修改班级文件最大尺寸</label>
        <form class="form-inline" action="#">
            <div class="form-group">
                <input type="text" class="form-control" id="maxFileSize" placeholder="文件最大尺寸(M)" >
            </div>
            <button type="button" class="btn btn-danger" id="modifyMaxFileSizeBtn">更改</button>
        </form>
        <br>
        <label  class="col-sm-2 control-label">修改博客文件起始保存位置</label>
        <form class="form-inline" action="#">
            <div class="form-group">
                <input type="text" class="form-control" id="modifyBlogFileStartPath" placeholder="文件起始地址" >
            </div>
            <button type="button" class="btn btn-danger" id="modifyBlogfileStartPathBtn">更改</button>
        </form>
        <br>
        <label  class="col-sm-2 control-label">修改博客文件最大尺寸</label>
        <form class="form-inline" action="#">
            <div class="form-group">
                <input type="text" class="form-control" id="maxBlogFileSize" placeholder="文件最大尺寸(M)" >
            </div>
            <button type="button" class="btn btn-danger" id="modifyBlogMaxFileSizeBtn">更改</button>
        </form>
        <br>
        <label  class="col-sm-2 control-label">修改用户角色</label>
        <form class="form-inline" action="#">
            <div class="form-group">
                <input type="text" class="form-control" id="roleNo" placeholder="用户手机号" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="userRole" placeholder="修改用户角色" >
            </div>
            <button type="button" class="btn btn-danger" id="modifyUserRoleBtn">更改</button>
        </form>
        <br>
        <label  class="col-sm-2 control-label">修改用户权限</label>
        <form class="form-inline" action="#">
            <div class="form-group">
                <input type="text" class="form-control" id="permNo" placeholder="用户手机号" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="userPerm" placeholder="修改用户权限" >
            </div>
            <button type="button" class="btn btn-danger" id="modifyUserPermBtn">更改</button>
        </form>
        <br>
        <label  class="col-sm-2 control-label">注册用户</label>
        <form class="form-inline" action="#">
            <div class="form-group">
                <input type="text" class="form-control" id="registerUserNo" placeholder="手机号" >
            </div>
            <button type="button" class="btn btn-success" id="registerUserBtn">注册</button>
        </form>
        <br>
        <label  class="col-sm-2 control-label">修改短信模板</label>
        <form class="form-inline" action="#">
            <div class="form-group">
                <input type="text" class="form-control" id="updataTemplateCode" placeholder="短信模板代码" >
            </div>
            <button type="button" class="btn btn-success" id="updataTemplateCodeBtn">修改</button>
        </form>
    </div>
</div>
</body>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery.placeholder.min.js}"></script>
<script th:src="@{/static/js/jquery.waypoints.min.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.all.js}"></script>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/admin.js}"></script>
</html>