<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paperfly.admin.mapper.AdminUserMapper">
    <update id="modifyUserRole" parameterType="com.paperfly.admin.pojo.AdminUser">
        update user set role=#{role} where no=#{no}
    </update>
    <update id="modifyUserPerm" >
        update user set perm=#{perm} where no=#{no}
    </update>
    <select id="selectAllUserSignIn" resultType="com.paperfly.system.pojo.SignIn">
        SELECT max(sign_in.create_time) as recently_sign_in,`user`.user_name,`user`.no,COUNT(*) as month_sum_sign_in
        FROM `user`
        left join sign_in
        on sign_in.no=`user`.no
    GROUP BY `user`.no
    order by month_sum_sign_in desc ,recently_sign_in desc
    limit #{page},12
    </select>
    <select id="selectOurWebData" resultType="com.paperfly.admin.pojo.WebData">
        CALL selectWebData();
    </select>
</mapper>